<%- include("../partials/header")%>
  <div class="container">
    <div id="search-row" class="row">
      <h2 class="col s4 blue-grey-text text-darken-2">Hunters</h2>
      <form action="/hunter" method="GET">
        <div class="col s3 offset-s3">
          <!-- search -->
          <div class="input-field">
          </div>
        </div>
        <div class="col s2">
        </div>
      </form>
    </div>
    <div class="row">
      <div id="hunter" class="col s12">
        <% hunters.forEach(function(hunter) { %>
          <div class="card blue-grey">
            <div class="card-content black-text">
              <div>
                <span class="card-title">
                  <i class="small material-icons">perm_identity</i>
                  <span class="hunter-name"><%= hunter.name %></span>
                  <% if (hunter.item) { %><span class="badge white">SEI <%= hunter.item %></span><% } %>
                </span>
              </div>
              <ul class="collection">
                <% hunter.items.forEach(function(i) { %>
                  <li class="collection-item blue-grey-text text-darken-2"><%- i.text %></li>
                <% }) %>
              </ul>
              <% if (hunter._id.equals(user && user._id)) { %>
                <!-- <div class="card-action">
                  <form action="/items" method="POST">
                    <input type="text" name="text" class="white-text">
                    <button type="submit" class="btn white-text">Add something to 'Hunt' for</button>
                  </form>
                </div> -->
                <a href="/items/new">Add new Item</a>
              <% } %>
              
            </div>
          </div>
          <% if (user) { %>
            <a id = "profile" href="/hunter/<%= user._id%>">VISIT HUNTER PROFILE PAGE!</a>
            <% } else { %>
              <% } %>
        <% }) %>
      </div>
    </div>
  </div>
  <%- include("../partials/footer")%>
